# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib

# fortran module files
*.mod

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.out
*.app

# qt crap
*.pro.user
*.user
/build/